<div class="md:max-w-xl md:mx-auto lg:min-h-screen md:flex md:flex-col md:justify-center 2xl:ml-24 2xl:mr-auto product_content_main_inner">
        
    <script type="text/json" id="js-product-variant-map">
    {
        "variants": [
    {
    "id": "39371152719962",
    "color": "Gris Clair",
    "size": "S",
    "in_stock": false,
    "diameter": "50cm",
    "weight": "<6kg",
    "price": "34,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152752730",
    "color": "Gris Clair",
    "size": "M",
    "in_stock": false,
    "diameter": "60cm",
    "weight": "<10kg",
    "price": "39,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152785498",
    "color": "Gris Clair",
    "size": "L",
    "in_stock": false,
    "diameter": "70cm",
    "weight": "<16kg",
    "price": "49,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152818266",
    "color": "Gris Clair",
    "size": "XL",
    "in_stock": false,
    "diameter": "80cm",
    "weight": "<22kg",
    "price": "59,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152851034",
    "color": "Gris Clair",
    "size": "XXL",
    "in_stock": false,
    "diameter": "100cm",
    "weight": "<45kg",
    "price": "74,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152228442",
    "color": "Blanc",
    "size": "S",
    "in_stock": false,
    "diameter": "50cm",
    "weight": "<6kg",
    "price": "34,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152261210",
    "color": "Blanc",
    "size": "M",
    "in_stock": false,
    "diameter": "60cm",
    "weight": "<10kg",
    "price": "39,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152293978",
    "color": "Blanc",
    "size": "L",
    "in_stock": false,
    "diameter": "70cm",
    "weight": "<16kg",
    "price": "49,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152326746",
    "color": "Blanc",
    "size": "XL",
    "in_stock": false,
    "diameter": "80cm",
    "weight": "<22kg",
    "price": "59,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152359514",
    "color": "Blanc",
    "size": "XXL",
    "in_stock": false,
    "diameter": "100cm",
    "weight": "<45kg",
    "price": "74,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152392282",
    "color": "Gris Sombre",
    "size": "S",
    "in_stock": false,
    "diameter": "50cm",
    "weight": "<6kg",
    "price": "34,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152425050",
    "color": "Gris Sombre",
    "size": "M",
    "in_stock": false,
    "diameter": "60cm",
    "weight": "<10kg",
    "price": "39,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152457818",
    "color": "Gris Sombre",
    "size": "L",
    "in_stock": false,
    "diameter": "70cm",
    "weight": "<16kg",
    "price": "49,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152490586",
    "color": "Gris Sombre",
    "size": "XL",
    "in_stock": false,
    "diameter": "80cm",
    "weight": "<22kg",
    "price": "59,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152523354",
    "color": "Gris Sombre",
    "size": "XXL",
    "in_stock": false,
    "diameter": "100cm",
    "weight": "<45kg",
    "price": "74,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152556122",
    "color": "Marron",
    "size": "S",
    "in_stock": false,
    "diameter": "50cm",
    "weight": "<6kg",
    "price": "34,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152588890",
    "color": "Marron",
    "size": "M",
    "in_stock": false,
    "diameter": "60cm",
    "weight": "<10kg",
    "price": "39,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152621658",
    "color": "Marron",
    "size": "L",
    "in_stock": false,
    "diameter": "70cm",
    "weight": "<16kg",
    "price": "49,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152654426",
    "color": "Marron",
    "size": "XL",
    "in_stock": false,
    "diameter": "80cm",
    "weight": "<22kg",
    "price": "59,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152687194",
    "color": "Marron",
    "size": "XXL",
    "in_stock": false,
    "diameter": "100cm",
    "weight": "<45kg",
    "price": "74,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152883802",
    "color": "Rose",
    "size": "S",
    "in_stock": false,
    "diameter": "50cm",
    "weight": "<6kg",
    "price": "34,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152916570",
    "color": "Rose",
    "size": "M",
    "in_stock": false,
    "diameter": "60cm",
    "weight": "<10kg",
    "price": "39,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152949338",
    "color": "Rose",
    "size": "L",
    "in_stock": false,
    "diameter": "70cm",
    "weight": "<16kg",
    "price": "49,90 €",
    "compareprice": ""
    },
    {
    "id": "39371152982106",
    "color": "Rose",
    "size": "XL",
    "in_stock": false,
    "diameter": "80cm",
    "weight": "<22kg",
    "price": "59,90 €",
    "compareprice": ""
    },
    {
    "id": "39371153014874",
    "color": "Rose",
    "size": "XXL",
    "in_stock": false,
    "diameter": "100cm",
    "weight": "<45kg",
    "price": "74,90 €",
    "compareprice": ""
    }
    ]
    }
    </script>
    
    <style type="text/css">
      .size-radio:checked + .size-label {
        background-color: #2A3755;
        color: #fff;
      }
      .color-radio:checked + .color-label {
        border-width: 1px;
      }
    </style>
    
     
    
    <div class="js-product-details p-5">
      <h1 class="mb-4">Lit Déhoussable et Apaisant Comfy®</h1>
      <div data-oke-reviews-product-listing-rating=""><div data-oke-reviews-version="2.14.5" class="okeReviews okeReviews--theme">
    <div class="okeReviews-reviewsSummary js-okeReviews-reviewsSummary is-okeReviews-clickable" data-oke-ga-click-action="Star Rating Summary Click" data-oke-ga-click-label="Lit Déhoussable et Apaisant Comfy®" tabindex="0" role="button">
    <div class="okeReviews-reviewsSummary-starRating">
    <span class="okeReviews-starRating okeReviews-starRating--small">
    <span class="okeReviews-a11yText">Evalué 4.8 sur 5</span>
    <span class="okeReviews-starRating-indicator" role="presentation">
    <span class="okeReviews-starRating-indicator-layer"></span>
    <span class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground" style="width: 97%"></span>
    </span>
    </span>
    </div>
    <div class="okeReviews-reviewsSummary-ratingCount">
    <span aria-hidden="true">16706 Avis</span>
    <span class="okeReviews-a11yText">Basé sur 16706 avis</span>
    </div>
    <span class="okeReviews-a11yText">Click to go to reviews</span></div>
    </div>
    </div>
    
      <div class="flex items-center -ml-4 mb-4">
        <span class="h2 pl-4 font-sofia font-bold text-green js-product-price main-prd-price ">34,90 €</span>
        
      </div>
      
       
      
      
      
      <ul class="md:flex md:flex-wrap md:-ml-2 mb-4">
        
        <li class="flex items-baseline mb-1 md:w-1/2 md:pl-2">
          <i class="icon-checkmark mr-2 text-xs"></i>
          Apaise et améliore la qualité du sommeil
        </li> 
        
        <li class="flex items-baseline mb-1 md:w-1/2 md:pl-2">
          <i class="icon-checkmark mr-2 text-xs"></i>
          Soulage les articulations
        </li> 
        
        <li class="flex items-baseline mb-1 md:w-1/2 md:pl-2">
          <i class="icon-checkmark mr-2 text-xs"></i>
          Diminue le stress
        </li> 
        
        <li class="flex items-baseline mb-1 md:w-1/2 md:pl-2">
          <i class="icon-checkmark mr-2 text-xs"></i>
          Respirant
        </li> 
        
      </ul>
      
      <form action="/cart/add" class="js-product-form" id="trackscript" method="post">
        <input type="hidden" name="product-id-cust" value="6563702898778">
        <input type="hidden" name="quantity" value="1" hidden="">
        
        <div class="flex flex-col-reverse md:flex-row md:-ml-4 VariantCustomBox">
          <div class="md:w-2/3 md:pl-4 variant-perice size_variants">
            
            <div class="md:max-w-xs flex mb-4 items-center justify-between -ml-1">
              <h2 class="h5 font-normal pl-1">Sélectionnez la taille:</h2>
              <button type="button" class="js-product-size-guide-link text-blue-800 text-xs uppercase underline font-normal pl-1">
                Guide Des Tailles
              </button>
            </div>
            <div class="bg-gray-100 p-2 mb-4 lg:mb-8 md:max-w-xs rounded-3xl ">
              <ul class="flex bg-white rounded-full">
                
                <li class="relative flex-1 3490">
                  <input type="radio" name="size" value="S" checked="" class="js-size-radio size-radio absolute inset-0 h-full w-full appearance-none opacity-0 cursor-pointer z-20" data-size-price="">
                  <div class="size-label relative py-2 text-sm text-center font-normal rounded-full z-10">
                    S
                  </div>
                </li>
                
                <li class="relative flex-1 3490">
                  <input type="radio" name="size" value="M" class="js-size-radio size-radio absolute inset-0 h-full w-full appearance-none opacity-0 cursor-pointer z-20" data-size-price="">
                  <div class="size-label relative py-2 text-sm text-center font-normal rounded-full z-10">
                    M
                  </div>
                </li>
                
                <li class="relative flex-1 3490">
                  <input type="radio" name="size" value="L" class="js-size-radio size-radio absolute inset-0 h-full w-full appearance-none opacity-0 cursor-pointer z-20" data-size-price="">
                  <div class="size-label relative py-2 text-sm text-center font-normal rounded-full z-10">
                    L
                  </div>
                </li>
                
                <li class="relative flex-1 3490">
                  <input type="radio" name="size" value="XL" class="js-size-radio size-radio absolute inset-0 h-full w-full appearance-none opacity-0 cursor-pointer z-20" data-size-price="">
                  <div class="size-label relative py-2 text-sm text-center font-normal rounded-full z-10">
                    XL
                  </div>
                </li>
                
                <li class="relative flex-1 3490">
                  <input type="radio" name="size" value="XXL" class="js-size-radio size-radio absolute inset-0 h-full w-full appearance-none opacity-0 cursor-pointer z-20" data-size-price="">
                  <div class="size-label relative py-2 text-sm text-center font-normal rounded-full z-10">
                    XXL
                  </div>
                </li>
                
              </ul>
              
              
              <ul class="flex justify-around py-2">
                <li class="flex -ml-3 items-center justify-center w-2/5">
                  <i class="pl-3 icon-width text-xs"></i>
                  <span class="pl-3">
                    Diamètre
                    <br>
                    <span class="js-size-range">50cm</span>
                  </span>
                </li>
                <li class="flex -ml-3 items-center justify-center w-2/5 ">
                  <div class="pl-3 text-3xl js-weight-icon">
                    <i class="icon-dog-s"></i>
                  </div>
                  <span class="pl-3">
                    Poids
                    <span class="js-weight-range">&lt;6kg</span>
                  </span>
                </li>
              </ul>
              
            </div>
            
          </div>
    
          <div class="color_variants md:w-1/3 md:pl-4 variant-perice">
            <h2 class="h5 mb-4 font-normal">Sélectionnez la couleur:</h2>
            <ul class="flex -ml-1 mb-2">
              
              
              <li class="flex relative ml-1">
                <input type="radio" name="color" value="Gris Clair" checked="" class="js-color-radio color-radio absolute inset-0 h-full w-full appearance-none opacity-0 cursor-pointer z-20">
                <div class="color-label relative w-7 h-7 p-0.5 rounded-full z-10 border-0 border-solid" style="border-color: #000;">
                  <div class="w-full h-full rounded-full" style="background-color: #f5f5f5; border: 1px solid #000;" data-color="Gris Clair"></div>
                </div>
              </li>
              
              
              <li class="flex relative ml-1">
                <input type="radio" name="color" value="Blanc" class="js-color-radio color-radio absolute inset-0 h-full w-full appearance-none opacity-0 cursor-pointer z-20">
                <div class="color-label relative w-7 h-7 p-0.5 rounded-full z-10 border-0 border-solid" style="border-color: #000;">
                  <div class="w-full h-full rounded-full" style="background-color: #ffffff; border: 1px solid #000;" data-color="Blanc"></div>
                </div>
              </li>
              
              
              <li class="flex relative ml-1">
                <input type="radio" name="color" value="Gris Sombre" class="js-color-radio color-radio absolute inset-0 h-full w-full appearance-none opacity-0 cursor-pointer z-20">
                <div class="color-label relative w-7 h-7 p-0.5 rounded-full z-10 border-0 border-solid" style="border-color: #514d64;">
                  <div class="w-full h-full rounded-full" style="background-color: #514d64; " data-color="Gris Sombre"></div>
                </div>
              </li>
              
              
              <li class="flex relative ml-1">
                <input type="radio" name="color" value="Marron" class="js-color-radio color-radio absolute inset-0 h-full w-full appearance-none opacity-0 cursor-pointer z-20">
                <div class="color-label relative w-7 h-7 p-0.5 rounded-full z-10 border-0 border-solid" style="border-color: #e1a587;">
                  <div class="w-full h-full rounded-full" style="background-color: #e1a587; " data-color="Marron"></div>
                </div>
              </li>
              
              
              <li class="flex relative ml-1">
                <input type="radio" name="color" value="Rose" class="js-color-radio color-radio absolute inset-0 h-full w-full appearance-none opacity-0 cursor-pointer z-20">
                <div class="color-label relative w-7 h-7 p-0.5 rounded-full z-10 border-0 border-solid" style="border-color: #eda2a0;">
                  <div class="w-full h-full rounded-full" style="background-color: #eda2a0; " data-color="Rose"></div>
                </div>
              </li>
              
            </ul> 
            <div class="js-current-color-label font-normal mb-4">
              <span>Gris Clair</span>
            </div>
          </div>
    
          <ul class="HiddenVariantSoldoutChecker" style="display:none">
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Gris Clair / S" soldout="true" data-price="34,90 €">Gris Clair / S</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Gris Clair / M" soldout="true" data-price="39,90 €">Gris Clair / M</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Gris Clair / L" soldout="true" data-price="49,90 €">Gris Clair / L</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Gris Clair / XL" soldout="true" data-price="59,90 €">Gris Clair / XL</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Gris Clair / XXL" soldout="true" data-price="74,90 €">Gris Clair / XXL</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="" value="Blanc / S" soldout="true" data-price="34,90 €">Blanc / S</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Blanc / M" soldout="true" data-price="39,90 €">Blanc / M</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Blanc / L" soldout="true" data-price="49,90 €">Blanc / L</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Blanc / XL" soldout="true" data-price="59,90 €">Blanc / XL</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Blanc / XXL" soldout="true" data-price="74,90 €">Blanc / XXL</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Gris Sombre / S" soldout="true" data-price="34,90 €">Gris Sombre / S</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Gris Sombre / M" soldout="true" data-price="39,90 €">Gris Sombre / M</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Gris Sombre / L" soldout="true" data-price="49,90 €">Gris Sombre / L</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Gris Sombre / XL" soldout="true" data-price="59,90 €">Gris Sombre / XL</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Gris Sombre / XXL" soldout="true" data-price="74,90 €">Gris Sombre / XXL</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="" value="Marron / S" soldout="true" data-price="34,90 €">Marron / S</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Marron / M" soldout="true" data-price="39,90 €">Marron / M</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Marron / L" soldout="true" data-price="49,90 €">Marron / L</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Marron / XL" soldout="true" data-price="59,90 €">Marron / XL</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Marron / XXL" soldout="true" data-price="74,90 €">Marron / XXL</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="" value="Rose / S" soldout="true" data-price="34,90 €">Rose / S</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Rose / M" soldout="true" data-price="39,90 €">Rose / M</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Rose / L" soldout="true" data-price="49,90 €">Rose / L</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Rose / XL" soldout="true" data-price="59,90 €">Rose / XL</li>
            
            <li name="variantsoldoutChecker" cprice="" capture-mention="Pré-commander" value="Rose / XXL" soldout="true" data-price="74,90 €">Rose / XXL</li>
            
          </ul>
    
        </div>
        <div class="md:flex md:-ml-4">
    
          <div class="md:w-1/2 md:pl-4 add-crt">
            <button type="submit" class="js-product-add-to-cart-btn flex bg-blue-800 justify-center items-center py-3 mb-4 text-white w-full uppercase">
              <span class="btn-txt" preordertext="Pré-commander">
                
                Ajouter au panier
                
              </span>
              <span class="diffr-hypen">-</span>
              <span class="btn-price js-btn-price-holder">34,90 €</span>
              
      
            </button>
            <div class="pre-order-text pre-order-btn  cv-show ">
              
              
              
    <!--           div> 27,92 €</div -->
             <!-- <span class="cprice"> </span>-->
                
              <span class="save-off">
                
    
              
              
                 </span>
              <div>Les articles précommandés seront livrés en avril. </div></div>
            <div class="m-preorder-text">Les articles précommandés seront livrés en avril.</div>
            <input class="cv-custompoperty qcv-custompoperty" type="hidden" name="properties[Pré-commandes]" value="Pré-commandes">
            <input class="cv-custompoperty dcv-custompoperty" type="hidden" name="_discount" value="">
    
               
            <div class="mb-4 text-center mob-left-align md:text-left">
              <i class="icon-giving"></i>
              1€ reversé à une association de protection animale pour chaque commande
            </div> 
            
          </div>
    
        </div>
        <div class="md:w-1/2">
          <div class="max-w-xs js-product-shipping-slider mx-auto">
      <div class="js-shipping-slider w-full">
        <div class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
          <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-804px, 0px, 0px);"><div class="swiper-slide text-green uppercase w-full text-center swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="3" style="width: 268px;">
              <div class="flex items-center justify-center w-full -ml-1">
                <i class="icon-box text-base pl-1"></i>
                <span class="leading-none text-xs font-normal pl-1">Retour gratuit</span>
              </div>
            </div>
            <div class="swiper-slide text-green uppercase w-full text-center" data-swiper-slide-index="0" style="width: 268px;">
              <div class="flex items-center justify-center w-full -ml-1">
                <i class="icon-delivery text-base pl-1"></i>
                <span class="leading-none text-xs font-normal pl-1">Livraison offerte dès 50€</span>
              </div>
            </div>
            <div class="swiper-slide text-green uppercase w-full text-center swiper-slide-prev" data-swiper-slide-index="1" style="width: 268px;">
              <div class="flex items-center justify-center w-full -ml-1">
                <i class="icon-timer text-base pl-1"></i>
                <span class="leading-none text-xs font-normal pl-1">Livraison sous 2 à 5 jours</span>
              </div>
            </div>
            <div class="swiper-slide text-green uppercase w-full text-center swiper-slide-active" data-swiper-slide-index="2" style="width: 268px;">
              <div class="flex items-center justify-center w-full -ml-1">
                <i class="icon-lock text-base pl-1"></i>
                <span class="leading-none text-xs font-normal pl-1">Paiement sécurisé</span>
              </div>
            </div>
            <div class="swiper-slide text-green uppercase w-full text-center swiper-slide-next" data-swiper-slide-index="3" style="width: 268px;">
              <div class="flex items-center justify-center w-full -ml-1">
                <i class="icon-box text-base pl-1"></i>
                <span class="leading-none text-xs font-normal pl-1">Retour gratuit</span>
              </div>
            </div>
          <div class="swiper-slide text-green uppercase w-full text-center swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 268px;">
              <div class="flex items-center justify-center w-full -ml-1">
                <i class="icon-delivery text-base pl-1"></i>
                <span class="leading-none text-xs font-normal pl-1">Livraison offerte dès 50€</span>
              </div>
            </div></div>
        </div>
        <div class="relative h-3">
          <div class="swiper-pagination swiper-pagination-bullets" style="left: 50%; top: 50%; transform: translate(-50%, -50%);"><span class="shipping-swiper-pagination-bullet"></span><span class="shipping-swiper-pagination-bullet"></span><span class="shipping-swiper-pagination-bullet shipping-swiper-pagination-bullet-active"></span><span class="shipping-swiper-pagination-bullet"></span></div>
        </div>
      </div>
    </div>
    <style type="text/css">
        .shipping-swiper-pagination-bullet {
        -webkit-text-size-adjust: 100%;
        tab-size: 4;
        font-family: sofia-pro;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        box-sizing: border-box;
        border: 0 solid;
        font-size: .875rem;
        line-height: 1.25rem;
        display: inline-block;
        background: #000;
        opacity: .2;
        background-color: #319138 !important;
        width: 1rem;
        margin-left: 0.5rem;
            height: 0.313rem;
            border-radius: 0%;
        }
    
        .shipping-swiper-pagination-bullet-active {
        -webkit-text-size-adjust: 100%;
        tab-size: 4;
        font-family: sofia-pro;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        box-sizing: border-box;
        border: 0 solid;
        font-size: .875rem;
        line-height: 1.25rem;
        display: inline-block;
        opacity: 1;
        background: var(--swiper-pagination-color,var(--swiper-theme-color));
        background-color: #319138 !important;
        width: 2.5rem;
        margin-left: 0.5rem;
        }
    </style>
    
        </div>
      </form>
    </div>
    
    <script>
    document.getElementById("trackscript").addEventListener('submit', functSubmit);
    jQuery('.cpricee').hide();
    function functSubmit(event) {
      mycookieValue = getCookie("axeptio_authorized_vendors");
      var iameffiliation = false;
      if(mycookieValue){
        if(mycookieValue.indexOf("effiliation") >= 0){
        iameffiliation = true;
        }
      }
      
      if (iameffiliation === true){
          var iameffiliation = "1";
      }else{
        var iameffiliation = "0";
      } 
      
      function getCookie(name){
        var re = new RegExp(name + "=([^;]+)");
        var value = re.exec(document.cookie);
        return (value != null) ? unescape(value[1]) : null;
      }
      
      var amef = $('.js-product-price').html().replace(' €','').replace(',','.');
      amef = $.trim(amef);
      
      
      
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "https://partner.puppylove.fr/ct/pt660025071.js?page=addcart&consent_ads="+iameffiliation+"&idp=6563702898778&prix="+amef+"&montant="+amef+""; 
      document.getElementsByTagName("head")[0].appendChild(script);
      return false;
    }
      
     
      
      jQuery('.color_variants input[name="color"]').click(function($){
        jQuery('.cpricee').show();
          var selColor = jQuery(this).val();
        var selSize = jQuery('.size_variants .size-radio:checked').val();
        
        var getDataPrice = jQuery('ul.HiddenVariantSoldoutChecker li[value="'+selColor+' / '+selSize+'"]').attr('data-price');
        var getComparePrice = jQuery('ul.HiddenVariantSoldoutChecker li[value="'+selColor+' / '+selSize+'"]').attr('cprice');
        
        console.log(getDataPrice);
        jQuery('.add-crt button[type="submit"] span.btn-price.js-btn-price-holder').text(getDataPrice);
        jQuery('span.main-prd-price').text(getDataPrice);
        jQuery('div.add-crt span.cprice').text(getComparePrice);
        jQuery('div span.cpricee').text(getComparePrice);
        
        if( jQuery('ul.HiddenVariantSoldoutChecker li[value="'+selColor+' / '+selSize+'"]').attr('capture-mention') == "Pré-commander"){
                jQuery('.pre-order-btn').show();
    
          
             /* custom data */
          if(jQuery('.pre-order-btn').show()){
            jQuery('.pre-order-btn').attr('data-checkbox','1');
          }
          var checkme = jQuery('.pre-order-btn').attr('data-checkbox');
         
          if(checkdata=='0' && checkme=='1'){
           console.log(checkdata +'no length');
                jQuery('.dcv-custompoperty').val('');
            
            jQuery('span.save-off').css('background','none');
          }else{
            console.log(checkdata +'no length');
            jQuery('.dcv-custompoperty').val('20%_OFF');
          }
          
          /* custom data hide */
          
          
          
          jQuery('span[preordertext]').text('Pré-commander');
    
        }else{
           jQuery('.dcv-custompoperty').val('');
                        jQuery('.pre-order-btn').hide();
    
                jQuery('span[preordertext]').text('Add to Cart');
    
        }
          //if( $(this).attr('capture-mention') ){
                    
        //}
        
      });
      
      
       jQuery('.size_variants input[name="size"]').click(function($){
          jQuery('.cpricee').show();
          var checkdata =  jQuery('.save-off').html().trim().length;
          var selSize = jQuery(this).val();
        var selColor = jQuery('.color_variants .color-radio:checked').val();
        
        var getDataPrice = jQuery('ul.HiddenVariantSoldoutChecker li[value="'+selColor+' / '+selSize+'"]').attr('data-price');
        var getComparePrice = jQuery('ul.HiddenVariantSoldoutChecker li[value="'+selColor+' / '+selSize+'"]').attr('cprice');
        
        console.log(getDataPrice);
        jQuery('.add-crt button[type="submit"] span.btn-price.js-btn-price-holder').text(getDataPrice);
        jQuery('span.main-prd-price').text(getDataPrice);
        jQuery('div.add-crt span.cprice').text(getComparePrice);
        jQuery('div span.cpricee').text(getComparePrice);
        
        if( jQuery('ul.HiddenVariantSoldoutChecker li[value="'+selColor+' / '+selSize+'"]').attr('capture-mention') == "Pré-commander"){
            jQuery('.pre-order-btn').show();
          
          /* custom data */
          if(jQuery('.pre-order-btn').show()){
            jQuery('.pre-order-btn').attr('data-checkbox','1');
          }
          var checkme = jQuery('.pre-order-btn').attr('data-checkbox');
         
          if(checkdata=='0' && checkme=='1'){
           console.log(checkdata +'no length');
                jQuery('.dcv-custompoperty').val('');
             jQuery('span.save-off').css('background','none');
          }else{
            console.log(checkdata +'no length');
            jQuery('.dcv-custompoperty').val('20%_OFF');
          }
          
          /* custom data hide */
          jQuery('span[preordertext]').text('Pré-commander');
    
          //alert('clicked');
        }else{
           jQuery('.pre-order-btn').attr('data-checkbox','0');
           jQuery('.dcv-custompoperty').val('');
                    if(jQuery('.pre-order-btn').hide()){
            jQuery('.pre-order-btn').attr('data-checkbox','0');
          }
    
                     jQuery('span[preordertext]').text('Add to Cart');
        }
         
      });
      
      var selColor = jQuery('.color_variants .color-radio:checked').val();
      var selSize = jQuery('.size_variants .size-radio:checked').val();
      
      var getDataPrice = jQuery('ul.HiddenVariantSoldoutChecker li[value="'+selColor+' / '+selSize+'"]').attr('data-price');
      jQuery('span.main-prd-price').text(getDataPrice);
      
      
      
      //jQuery('.color_variants input[name="color"]:checked').val();
      
      
      /*setInterval(function(){
        
        var color = jQuery('.color_variants input[name="color"]:checked').val();
        
        $('.size_variants ul li').each(function(){
          
          if($(this).find('.js-size-radio').is(':checked')) {
            
            var main = color+ ' / '+ $(this).find('.js-size-radio').val();
            
            $('ul.HiddenVariantSoldoutChecker li').each(function(){
              
              var val_c = $(this).attr('value');
              
              var price_c = $(this).attr('data-price');
              
              var pre = $(this).attr('capture-mention');
              
              if(val_c == main){
                
                var n_price = price_c.replace(' €','');
                
                var pricee = '€ '+ n_price;
                
    //             console.log('prices : ',n_price);
                
                var n_price = pricee.replace(',','.');
                var pricess = n_price.split(' ');
                if($('span.btn-price.js-btn-price-holder').text() == pricee){
                
                }else if($('span.btn-price.js-btn-price-holder').text() == n_price){
                
                }
                else{
                 
                  if($(this).attr('capture-mention')){
                    $('span[preordertext]').text('Pre Order');
                    $('.pre-order-btn').show();
                    $('.pre-order-text.pre-order-btn .cprice').text($(this).attr('cprice'));
                    $('.main-prd-price').text(''+ pricess[1]);
                    $('span.btn-price.js-btn-price-holder').text(''+ pricess[1]);
                  }
                  else{
                  $('span[preordertext]').text('Add To Cart');
                    $('.pre-order-btn').hide();
                    
    //                 console.log('prices : ',);
                    $('.main-prd-price').text(''+ pricess[1]);
                    $('.pre-order-text.pre-order-btn .cprice').text($(this).attr('cprice'));
                    $('span.btn-price.js-btn-price-holder').text( pricess[1]);
                }
                }
              }
              
            });
          
          }
          
        });
        
      },1000); */
      
    </script>
    <style>
      
     .cv-show .pre-order-btn span {
        position: absolute;
        top: 0px;
        right: -150px;
        background: red;
        color: white;
        padding: 12px 7px;
    }
      
      .add-crt
      {
        position:relative;
      }
      
      
    span.cprice {
        right: -71px;
        background: none;
        color: #8ca0cb;
        position: absolute;
        text-decoration: line-through;
        top: 15px;
    }
      
      
    span.save-off {
        right: -212px;
    /*     background: red; */
        color: #fff;
        position: absolute;
        top: 14px;
        padding: 2px 6px;
    }
      
      @media only screen and (max-width:767px)
        {
          .cv-show .pre-order-btn span {
        position: unset;
        top: 0px;
        right: 0;
        background: red;
        color: white;
                margin-bottom: 15px;
        width: 100%;
        padding: 12px 7px;
        display: inline-block;
        text-align: center;
    }
           span.cprice {
        color: #8ca0cb;
        background: none;
    }
        
        }
    </style>
            
    
    <div class="js-product-details-cont p-5 pt-0">
      <h2 data-to="description" class="js-dropdown-btn h4 flex justify-between mb-4 uppercase text-blue-500 cursor-pointer">
        Description
        <i class="icon-plus text-sm hidden"></i>
        <i class="icon-minus text-sm"></i>
      </h2>
      <div class="js-dropdown pb-4 active" data-from="description">
        <span style="font-weight: 400;">Le lit Comfy déhoussable apporte confort et réconfort. Il apaise les animaux. Son design particulier en forme de donut et sa profondeur procurent un sentiment de sécurité et de bien-être qui favorise la détente, la récupération physique et facilite le sommeil.</span>
      </div>
      
        
      
    </div>
    
          </div>